*{
    margin: 0;
    padding: 0;
}

/* #hamburger{
    display: none;
} */

.menuBotao{
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    margin: 25px;
    /* background-color: blue; */
}

.hamburgerStyle,
.hamburgerStyle::after,
.hamburgerStyle::before
{
    content: "";
    display: block;
    background-color: rgb(83, 81, 81);
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
}

.hamburgerStyle::before{
    top: 8px;
}

.hamburgerStyle::after{
    bottom: 8px;
}   

.menuBotao:hover .hamburgerStyle,
.menuBotao:hover .hamburgerStyle::after,
.menuBotao:hover .hamburgerStyle::before
{
    background-color: black;
}

.menu{
    list-style: none;
    background-color: rgb(189, 188, 188);
    position: absolute;
    left: 23px;
    width: auto;
    height: 0;
    transition: height 0.3 ease;
    overflow: hidden;
}


.menu.open{
    height: auto;
}

