body {
    background-color: rgba(255, 248, 248, 1);
    font-family: arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
}

ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color:white;
}  

a:hover{
    background-color: rgb(153, 222, 241);
    color: black;
}

.instagram{
   background-image: linear-gradient(to bottom,rgba(200, 55, 171, 1),
   rgba(244, 78, 83, 1),rgba(255, 191, 80, 1));
}

.twitter{
    background-color: rgba(26, 178, 232, 1);
}

.facebook{
    background-color: rgba(24, 119, 242, 1);
}