<!DOCTYPE html>
<hmtl lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"content="IE-edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <title>Página de Cadastro</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>

        <div id="app">
            <h1>Cadastro no novo usuário</h1>
            <form>
                <label for="newUsername">Nome de usuário:</label>
                <input type="text" v-model="newUsername" required>

                <label for="newPassword">Senha</label>
                <input type="password" v-model="newPassword" required>

                <label for="confirmPassword">Confirma Senha</label>
                <input type="password" v-model="confirmPassword" required>
                
                <button type="submit" @click.prevent="adicionarUsuario">Cadastrar Usuários</button>

            </form><!--Fechamento form-->

        
            <!-- <p>Usuário: {{username}}</p>
            <p>senha: {{password}}</p> -->

            <!-- <p>Novo Usuário:{{newUsername}}</p> -->

            <p class="error" :class="{entrada: mostrarEntrada}" >{{error}}</p>
            <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

            <div>
                <button @click="verCadastrados">
                    {{mostrarLista ? "Ocultar Lista" : "Mostra Lista"}}
                </button>
                <!--Processo para listar os usuários e senhas cadastradas nos arrays "usuário" e "senhas"-->
                <ol v-if="mostrarLista">
                    <li v-for="(usuario, index) in usuarios">
                        Usuario: {{usuario}}, {{senhas[index]}}

                        <button @click=" excluirUsuario(usuario)">Excluir</button>

                    </li><!--Fechamento li-->

                </ol><!--Fechamento ol-->

            </div>

        </div><!--Fechamento div principal-->

        <script src="process.js"></script>
    </body>
</hmtl>