.error{
    color: red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: rgb(6, 172, 6);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(198, 135, 225);
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(244, 245, 246);
    padding: 20px;
    box-shadow: 0 0 10px rgb(104, 104, 108);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label{
    margin-bottom: 10px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border: none;
    border-color: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: rgb(140, 139, 139);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

button:hover{
    background-color: rgb(66, 65, 65);
}