img{
    width: 150px;
    height: auto;
    border: 2px solid rgb(80, 79, 79);
    padding: 5px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(0.7);
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: white;
    color: blue;
    padding: 5px 10px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(255, 252, 252);
    border-radius: 7px;
    margin-right: 10px;
}
j{
    color: green;
}

removeFromCart{
    border-radius: 10px;
    background-color: white;
}