<!DOCTYPE html>
<hmtl lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"content="IE-edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <title>Página de Cadastro</title>
        <script src="vue.global.js"></script>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>

        <div id="app">

            <div>
                <!--Processo para listar os usuários e senhas cadastradas nos arrays "usuário" e "senhas"-->
                <ol>
                    <li v-for="(usuarios, index) in usuarios">
                        Usuario: {{usuario}}, {{senhas[index]}}

                        <button @click=" excluirUsuario(usuario)">Excluir</button>

                    </li><!--Fechamento li-->

                </ol><!--Fechamento ol-->

            </div>

        </div><!--Fechamento div principal-->

        <script src="process.js"></script>
    </body>
</hmtl>