<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City of Cakes</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">
                <h1>City Of Cakes</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="inicio"></a></li>
                    <li><a href="sobre"></a></li>
                    <li><a href="produtos"></a></li>
                    <li><a href="contato"></a></li>
                </ul>
            </nav>
        </header> 

        <section id="inicio">
            <div class="banner">
                <h2>Bem-vindo à City of Cakes!</h2>
                <p>Deliciosos doces e sobremesas para todos os gostos.</p>
                <!-- <a href="produtos" class="cta-button"> Veja nossos produtos</a> -->
            </div>
        </section>

        <section id="sobre">
            <h2>Sobre nós</h2>
            <p>A City of Cakes é apaixonada por criar doces, e mais ainda para agradar seus clientes!</p>
        </section>

        <section id="produtos">
            <h2>Nossos produtos</h2>

            <div class="divprincipal">
                <div class="produto">
                    <img src="Imagem1.png" alt="Cupcake de Baunilha">
                    <h3>Cupcake de Baunilha</h3>
                    <p></p>
                    <p>Preço: R$ 14,99 <span id="preco"></span></p>
                </div>

                <div class="produto">
                    <img src="Imagem2.png" alt="Macaron">
                    <h3>Macarons de Maracujá</h3>
                    <p></p>
                    <p>Preço: R$ 25,00 <span id="preco"></span></p>
                </div>  

                <div class="produto">
                    <img src="Imagem3.png" alt="Pão de Queijo">
                    <h3>Pães de Queijo</h3>
                    <p></p>
                    <p>Preço: R$ 1,00 <span id="preco"></span></p>
                </div>
            </div>

            <div class="divprincipal2">
                    <div class="produto">
                    <img src="Imagem4.png" alt="Brownie de chocolate">
                    <h3>Brownie de Chocolate</h3>
                    <p></p>
                    <p>Preço: R$ 7,99 <span id="preco"></span></p>
                </div>

                <div class="produto">
                    <img src="Imagem5.png" alt="Banoffe">
                    <h3>Banoffe</h3>
                    <p></p>
                    <p>Preço: R$ 17,90 <span id="preco"></span></p>
                </div>

                <div class="produto">
                    <img src="Imagem6.png" alt="Bolo de chocolate">
                    <h3>Bolo de Chocolate</h3>
                    <p></p>
                    <p>Preço: R$ 11,99 <span id="preco"></span></p>
                </div>
            </div>

            <div class="divprincipal3">
                <div class="produto">
                    <img src="Imagem7.png" alt="Bolo de cenoura com chocolate">
                    <h3>Bolo de Cenoura com Chocolate</h3>
                    <p></p>
                    <p>Preço: R$ 11,99 <span id="preco"></span></p>
                </div>

                <div class="produto">
                    <img src="Imagem8.png" alt="Torta de limão">
                    <h3>Torta de Limão</h3>
                    <p></p>
                    <p>Preço: R$ 19,90 <span id="preco"></span></p>
                </div>

                <div class="produto">
                    <img src="Imagem9.png" alt="Torta holandesa de leite ninho">
                    <h3>Torta holandesa de Leite Ninho</h3>
                    <p></p>
                    <p>Preço: R$ 25,99 <span id="preco"></span></p>
                </div>
                
            </div>
            <!-- <button @click="addToCart(currentProduct)">Adicionar ao Carrinho</button> -->
        
            </section>

            <div v-if="fazer_login">
                <section id="login">
                    <h2>Faça o login aqui!</h2>
                    <form id="contact-form">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">

                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">

                        <button type="submit" @click.prevent="login">Login</button>
                    </form>

                    <p>Ainda não tem uma conta</p>
                    <button @click="fazerCadastro">Criar conta</button>
                </section>
            </div>

            <div v-if="fazer_cadastro">
                <section id="login">
                    <h1>Cadastro no novo usuário</h1>
                    <form>
                        <label for="newUsername">Email:</label>
                        <input type="text" v-model="newUsername" required>

                        <label for="newPassword">Senha</label>
                        <input type="password" v-model="newPassword" required>

                        <label for="confirmPassword">Confirma Senha</label>
                        <input type="password" v-model="confirmPassword" required>
                        
                        <button type="submit" @click.prevent="adicionarUsuario">Cadastrar Usuários</button>

                    </form><!--Fechamento form-->

                    <p>Faça o login aqui!</p>
                    <button @click="login">Fazer login</button>
                </section>
            </div>
        </div>

        <button v-if="logado"><a href="cadastro.html">Cadastrados</a></button>
        
    <footer>
        <p>&copy; 2023 City of Cakes. Todos os direitos reservados.</p>
    </footer>


    <script src="process.js"></script>
</body>
</html>