body{
    background-color: rgb(198, 135, 225);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    margin: 0;
}

p{
    margin: 0 0 20px;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(124, 66, 150);
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: center;
}

.logo h1{
    font-size: 24px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-left: 10px;
}

#inicio{
    background-image: url();
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

banner h2{
    font-size: 36px;
    margin-bottom: 20px;
}

banner p{
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button{
    background-color: rgb(204, 204, 214);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
}

section{
    padding: 40px 20px;
}

section h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.divprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.divprincipal2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.divprincipal3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.produto{
    margin-bottom: 40px;
}

produto img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="submit"]{
    background-color: white;
    color: black;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    background-color:rgb(198, 135, 225);
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

addToCart{
    background-color: white;
    color: black;
    padding: 3px 10px;
    border-radius: 4px;
    cursor: pointer;

}




.error{
    color: red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color: rgb(6, 172, 6);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(198, 135, 225);
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgbrgb(198, 135, 225);
    padding: 20px;
    /* box-shadow: 0 0 10px rgb(104, 104, 108); */
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label{
    margin-bottom: 10px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border: none;
    border-color: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: rgb(140, 139, 139);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

button:hover{
    background-color: rgb(66, 65, 65);
}