<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="calculadora">
        <div class="tela" :style="{fontSize: tamanhoLetra}">{{display}}
        </div><!--Fechamento div tela-->
        <div class="configuracaoBotao">
          <div class="linha">
            <button @click="numero('7')">7</button>
            <button @click="numero('8')">8</button>
            <button @click="numero('9')">9</button>
            <button @click="operacoes('/')">/</button>
          </div>
          <!--Fechamento div linha1-->
          <div class="linha">
            <button @click="numero('4')">4</button>
            <button @click="numero('5')">5</button>
            <button @click="numero('6')">6</button>
            <button @click="operacoes('*')">*</button>
          </div>
          <!--Fechamento div linha2-->
          <div class="linha">
            <button @click="numero('1')">1</button>
            <button @click="numero('2')">2</button>
            <button @click="numero('3')">3</button>
            <button @click="operacoes('-')">-</button>
          </div>
          <!--Fechamento div linha3-->
          <div class="linha">
            <button @click="numero('0')">0</button>
            <button @click="decimal('.')">.</button>
            <button @click="operacoes('=')">=</button>
            <button @click="operacoes('+')">+</button>
          </div>
          <!--Fechamento div linha4-->
          <div class="linha">
            <button @click="clear"class="Clear">clear</button>
          </div>
          <!--Fechamento div linha5-->

          <!--Fechamento div configuracaoBotao-->
        </div>
      </div>
      <!--Fechamento div calculadora-->
    </div>
    <!--Fechamento div principal-->
    <script src="process.js"></script>
  </body>
</html>
