.calculadora {
  background-color: aqua;
  top: 50%;
  left: 50%;
  position: fixed;
  display: flex;
  border: 1px solid rgb(183, 182, 182);
  transform: translate(-50%, -50%);
  /* font-size: 2rem; */
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(
    rgb(1, 1, 49),
    rgb(11, 11, 165),
    rgb(147, 147, 251)
  );
  flex-direction: column;
  justify-content: center;
  align-items: center;
} /*Fechamento calculadora*/

.tela {
  color: rgb(88, 88, 89);
  width: 93%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 3rem;
  margin-bottom: 20px;
  border: 3px solid rgb(88, 88, 89);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
} /*Fechamento tela*/

.linha {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.configuracaoBotao {
  display: flex;
  flex-direction: column;
  align-items: center;
} /*Fechamento configuracaoBotao*/

button {
  font-size: 2rem;
  width: 80px;
  height: 80px;
  margin-right: 5px;
  border: 1px solid rgb(19, 95, 246);
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

button:hover {
  background-color: rgb(190, 189, 189);
}
button:last-child {
  margin-right: 0;
}
 .clear{
   width: 100px;
 }
