/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

nav {
  background-color: #f2f2f2;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

article {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
