body{
    background-color: rgb(240, 186, 210);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    margin: 0;
}

p{
    margin: 0 0 20px;
}

a{
    text-decoration: none;
}

header{
    background-color: rgb(191, 130, 175);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 24px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-left: 10px;
}

#inicio{
    background-image: url();
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

banner h2{
    font-size: 36px;
    margin-bottom: 20px;
}

banner p{
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button{
    background-color: rgb(204, 204, 214);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
}

section{
    padding: 40px 20px;
}

section h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.produto{
    margin-bottom: 40px;
}

produto img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form input[type="submit"]{
    background-color: rgb(204, 204, 214);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: (204, 204, 214);
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
